# Environment
.env
*.env.local

# Java / Maven
target/
*.class
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Node / React
node_modules/
dist/
build/
.vite/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log